/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
  background-color: #CFE1B9;
}

/* STYLE TEXT */

h1 {
  background-image: url("assets/Classroom.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-position: bottom;
  color: #CFE1B9;
  text-shadow: 4px 4px #588157;
  font-size: 40px;
  padding: 70px 0;
  text-align: center;
  font-family: "Verdana", sans-serif;
}

#resourcesHeading {
  background-image: url("assets/SchoolSupplies.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-position: top;
}

#donateHeading {
  background-image: url("assets/Coins.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-position: bottom;
}

#VYOHeading {
  background-image: url("assets/Megaphone.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-position: bottom;
}

h3 {
  background-color: #3A5A40;
  color: #CFE1B9;
  text-align: center;
  padding: 20px;
  font-family: "Verdana", sans-serif;
}

p{
  padding: 30px;
  color: #3A5A40;
  font-size: 20px;
  font-family: "Verdana", sans-serif;
}

.helpTheEffort {
  display: flex;
  align-items:center;
}

.readTheseArticles {
  display: flex;
  align-items:center;
}

.ifYouAreWilling {
  display: flex;
  align-items:center;
  font-size:18px;
}

.itsOkay {
  display: flex;
  align-items:center;
  font-size:18px;
}

/* STYLE IMAGES */
.books {
  width: 300px; 
  height: 200px; 
  object-fit: cover;
  float: left;
  margin: 10px;
}

.students {
  width: 300px; 
  height: 200px; 
  object-fit: cover;
  float: right;
  margin: 10px;
  padding: 0 0 20px 20px;
}

.library {
  width: 300px; 
  height: 200px; 
  object-fit: cover;
  float: left;
  margin: 10px;
}

.donationBox {
  width: 250px; 
  height: 300px; 
  object-fit: cover;
  float: left;
  margin: 10px;
}

/* STYLE NAV BAR */
ul {
  text-align: center;
}

.nav {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #CFE1B9;
}

.nav ul {
  list-style: none;
  width: 800px;
  margin: 0 auto;
  padding: 0;
}


.nav li {
  float: left; 
}

.nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  color: #3A5A40;
}

/* STYLE BUTTONS */

/* ADD MORE! */
